<%= form_with(model: @property, local: true) do |form| %>

  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
        <% property.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :property_name %>
    <%= form.text_field :property_name %>
  </div>

  <div class="field">
    <%= form.label :rent %>
    <%= form.number_field :rent %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :others %>
    <%= form.text_area :others %>
  </div>

 <hr>

  <%= form.fields_for :neareststation do |g| %>

    <div class="field">
      <%= g.label :route_names %>
      <%= g.text_field :route_names %>
    </div>

    <div class="field">
      <%= g.label :station_name %>
      <%= g.text_field :station_name %>
    </div>

    <div class="field">
      <%= g.label :minutes_on_foot %>
      <%= g.number_field :minutes_on_foot %>
    </div>

  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
