<p id="notice"><%= notice %></p>

<p>
  <strong>物件名:</strong>
  <%= @property.property_name %>
</p>

<p>
  <strong>賃料:</strong>
  <%= @property.rent %>
</p>

<p>
  <strong>住所:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>築年数:</strong>
  <%= @property.age %>
</p>

<p>
  <strong>備考:</strong>
  <%= @property.others %>
</p>

<hr>

<% @neareststation.each do |a| %>
  <p><strong>最寄り駅<%= a.index %></strong></p>
  <p><strong>①路線名:<%= a[0] %></strong></p>
  <p><strong>②駅名:<%= a[1] %></strong></p>
  <p><strong>③徒歩数:<%= a[2] %></strong></p>
  <br>
<% end %>

<% if %>

<% end %>

<%= link_to '編集', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
